<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>
                </small>
            </div>
        </div>
    </div>
</div>

<h2>Posts</h2>
<% if user_posted? %>
    <%= avatar_url = @user.avatar_url(128) %><%= render @user.posts %>
<% else %>
    <%= "doesn't have any posts." %>
<% end %>


<h2>Comments</h2>
<% if user_commented? %>
    <%= render @user.comments %>
<% else %>
    <%= "hasn't made any comments!" %>
<% end %>

<h2>Favorites</h2>
    <%= render @user.favorites %>


